<div id="<%= dom_id book %>">
  <p>
    <strong>Title:</strong>
    <%= book.title %>
  </p>

  <p>
    <strong>ISBN:</strong>
    <%= book.isbn %>
  </p>

  <p>
    <strong>ID:</strong>
    <%= book.id %>
  </p>
  <p>
    <strong>Genre:</strong>
    <%= book.genre %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= book.location %>
  </p>

  <p>
    <strong>Link:</strong>
    <%= book.link %>
  </p>

</div>
