<div id="<%= dom_id loan %>">
  <p>
    <strong>Book:</strong>
    <%= loan.book_id %>
  </p>

  <p>
    <strong>Student:</strong>
    <%= loan.student_id %>
  </p>

  <p>
    <strong>Checked out at:</strong>
    <%= loan.checked_out_at %>
  </p>

  <p>
    <strong>Checked in at:</strong>
    <%= loan.checked_in_at %>
  </p>

</div>
